* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-page-container {
    min-height: calc(100vh - (56px * 2) - 1.5rem);
}

.card {
    width: 18rem;
}
.card-img {
    cursor: pointer;
}
.content-page-container {
    animation: fadeInLeft;
    animation-duration: .8s;
}
.pokemon-page {
    animation: fadeIn;
    animation-duration: .5s;
}


.card-title {
    text-transform: capitalize;
}

.card-top-body {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 40px 40px 0 0;
    background-color: #f3efef;
}
.pok-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    filter: drop-shadow(0 0 5px #a7a4a496);
}
.pokemon-card {
    width: 100%;
    display: flex;
    background-color: #f3efef;
    min-height: 70vh;

    
}
.pokemon-card .card-top-body {
    align-self: center;
}
.pokemon-card img {
    width: 40%;
    height: 40%;
    padding: 20px;
    align-self: center;
}
.pokemons-stats {
    background-color: #30A7D7;
    border-radius: 13px;
    width: 50%;
    align-self: center;
    height: max-content;
    padding: 10px;
}
.text-stat {
    font-size: 23px;
    font-weight: 300;
}
.text-stat-result {
    font-size: 22px;
    color: #000;
}
.back_btn {
    position: fixed;
    z-index: 400;
    animation: back_btn 1s infinite alternate-reverse ;
}


@keyframes back_btn {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0px);

    }
}


@media (max-width: 756px) {
    .content-page-container {
        min-height: calc(100vh - 136px - 104px - 1.5rem);
    }
    .pok-card {
        margin-bottom: 20px;

    }
    .pokemon-card img {
        width: 80%;
        padding: 20px;
    }
    .pokemon-card {
        align-items: center;
        flex-direction: column;
    }
    .pokemons-stats  {
        width: 90%;
        margin-bottom: 10px;
    }
}